@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

.bg-violet-radial {
  background: rgb(129, 9, 157);
  background: radial-gradient(
    circle,
    rgb(129, 9, 157) 0%,
    rgb(48, 15, 67) 100%
  );
}
